#app-ui {
  all: initial;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
  font-family: "Segoe UI",sans-serif;
  pointer-events: none;
  * {
    all: revert;
    font-family: "Segoe UI",sans-serif;
    pointer-events: inherit;
  }
  .loadScreen {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: #f0f0f0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    opacity: 1;
    transition: 2s opacity;
    &.fade {
      opacity: 0;
    }
    img {
      max-width: max(10vh,10vw);
      max-height: max(10vh,10vw);
      width: min(50vw,50vh);
      height: min(50vw,50vh);
    }
  }
  .window {
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    padding: 1em;
    background: linear-gradient(#ffffff, #dddddd);
    width: 100%;
    max-width: 720px;
    text-shadow: 1px 1px #fff;
    box-shadow: 0 6px 15px -2px #000;
    z-index: 2;
    pointer-events: auto;
  }
  .updateRequest {
    p {
      max-height: 50vh;
      overflow: hidden;
      overflow-y: auto;
    }
    button {
      font-size: x-large;
      width: 100px;
      margin: 0 1em;
    }
  }
}