:root {
  --header: 50px;
  --footer: 11px;
  --brand-gray: 78,78,78;
  --brand-white: 240,240,240;
  --nav-hover: #fff2;
  --preview-background: #000;
  --hover-cl: 255,255,255;
  --error-cl: #ca0f0f;
  --g-color: 0,0,0;
}

@media (max-width: 1100px) {
  .vcontainer {
    --size: 3!important;
  }
}
@media (max-width: 800px) {
  .vcontainer {
    --size: 2!important;
  }

  .window {
    width: 100%;
  }
}
header {
  --ceil-count: 8;
  vertical-align: top;
  font-size: medium;
  width: var(--header);
  height: calc(100vh - var(--footer));
  background: rgb(var(--brand-gray));
  position: relative;
  display: inline-block;
  overflow: hidden;
  overflow-y: auto;
  user-select: none;
  z-index: 999;
}
header nav {
  --ceil-size: var(--header);
  height: 100%;
}
header nav a {
  -webkit-user-drag: none;
  display: flex !important;
  height: var(--ceil-size);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: rgb(var(--brand-white)) !important;
  font-size: xx-large !important;
  background: transparent;
  transition: 0.2s background;
}
header nav a:hover {
  background: var(--nav-hover);
  box-shadow: inset 0 0 0 2px var(--nav-hover);
}
header nav a.inactive {
  cursor: default;
}
header nav a.inactive:hover {
  background: transparent;
  box-shadow: none;
}
header nav .space-bar {
  height: calc(100% - var(--ceil-size)*var(--ceil-count));
}
header::-webkit-scrollbar {
  width: 0;
}

main {
  vertical-align: top;
  font-size: medium;
  display: inline-block;
  background: rgb(var(--brand-white));
  width: calc(100vw - var(--header));
  height: calc(100vh - var(--footer));
  overflow: hidden;
  overflow-y: auto;
}
main .vcontainer {
  --size: 4;
  margin: auto;
  box-sizing: content-box;
  width: calc(241px * var(--size));
}
main::-webkit-scrollbar {
  --size: 4px;
  width: 20px;
  background: linear-gradient(90deg, rgb(var(--brand-white)) calc(10px - var(--size)/2), rgb(var(--brand-gray)) calc(10px - var(--size)/2), rgb(var(--brand-gray)) calc(10px + var(--size)/2), rgb(var(--brand-white)) calc(10px + var(--size)/2));
}
main::-webkit-scrollbar-thumb {
  background: rgb(var(--brand-gray));
  border: 4px solid rgb(var(--brand-white));
  border-top: none;
  border-bottom: none;
}

.tile {
  width: 225px;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}
.tile .tile-preview {
  width: 225px;
  height: 318px;
  overflow: hidden;
  background: var(--preview-background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 2px 5px -2px #000;
  transition: transform 0.2s, box-shadow 0.2s;
}
.tile .tile-preview > img {
  height: 100%;
}
.tile .tile-preview > img.loaded {
  height: auto;
  width: 100%;
}
.tile .tile-preview > img:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
}
.tile:hover > .tile-preview {
  transform: scale(1.1);
  box-shadow: 0 4px 10px -2px #000;
}
.tile span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

footer {
  position: absolute;
  height: var(--footer);
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  font-size: xx-small;
  background: #000;
  color: #fff;
  padding: 0 0.2em;
  z-index: 998;
  user-select: none;
}

.hover {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.hover::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  background: radial-gradient(rgba(var(--hover-cl), 0.5) 0%, rgba(var(--hover-cl), 0) 70%);
  opacity: 0;
  transition: 0.2s opacity;
  left: 0;
  top: 0;
  z-index: -1;
}
.hover:hover:before {
  opacity: 1;
  left: calc(var(--x) - 50px);
  top: calc(var(--y) - 50px);
}

.disabled {
  opacity: 0.6;
  cursor: default;
}

@keyframes load-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.load-block, .error-block {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.load-block span, .error-block span {
  font-size: xxx-large;
}

.load-block > span {
  animation: load-rotate 1s infinite;
}

.conf-block h5 {
  font-weight: bold;
}
.conf-block > div {
  margin: 1em 0;
}
.conf-block .conf-mode-preview {
  position: relative;
  min-height: 60px;
}
.conf-block .conf-mode-preview select {
  width: initial;
  display: inline-block;
}
.conf-block .conf-mode-preview .preview {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgb(var(--brand-gray));
  border-radius: 3px;
  width: 100px;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  background: rgb(var(--brand-white));
  transition: 0.2s;
}
.conf-block .conf-mode-preview .preview .video {
  background: rgb(var(--brand-gray));
  transition: 0.2s;
}
.conf-block .conf-mode-preview select[data-chosen="0"] + .preview > .video {
  width: 100%;
  height: 60%;
}
.conf-block .conf-mode-preview select[data-chosen="1"] + .preview > .video {
  width: 100%;
  height: 90%;
}
.conf-block .conf-mode-preview select[data-chosen="2"] + .preview {
  padding: calc(60px * 0.25) calc(100px * 0.25);
}
.conf-block .conf-mode-preview select[data-chosen="2"] + .preview .video {
  width: calc(100px * 0.5);
  height: calc(60px * 0.5);
}
.conf-block .dev-option {
  position: relative;
  overflow: hidden;
}
.conf-block .dev-option::before {
  content: "beta";
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background: var(--bs-danger);
  padding: 0.1em calc(0.5em - 1px) 0.1em 0.5em;
  border-radius: 0 0 0 3px;
}

.window.player.cinema {
  width: 100%;
  height: 60%;
}

/*# sourceMappingURL=index.css.map */
